HOST=127.0.0.1
PORT=3333
APP_URL=http://${HOST}:${PORT}
NODE_ENV=development
CACHE_VIEWS=false
APP_KEY=dmMMxypZiVkQYpqfZy4zYwa6CCeX9jEg
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=i5dr0id
DB_PASSWORD=password1234
DB_DATABASE=pos_multistore
