<p> HI {{ username }} </p>,

<p>
    Welcome to the Axximuth POS, Please confirm your email by clicking the link below.
</p>

<p>
  <a href="{{ 'http://127.0.0.1:3333/register/confirm/' + confirmation_token }}"> Confrim email address</a>
</p>
