<h1> Welcome to {{ branch.name }}</h1>

<h2>{{ first_name + ' ' + last_name }}</h2>

<h4>Login Details: </h4>

<h6> Access Level: {{ access_level }}</h6>

<h6> Username: {{ username }}</h6>

<h6> Password: {{ password }}</h6>
